@model IEnumerable<Dysnomia.HowToOpenMe.Common.Models.Alias>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ext)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AliasExt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ext)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AliasExt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExtName)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
